body>div.container-fluid {
    padding: 0;
}

nav {
  z-index: 1;
}

.active>a {
  background-color: #2BA6CB;
}

#blur {
  background-image: url(flou.jpeg);
  background-size: cover;
  /*filter: blur(3px);*/
  height: 400px;
  z-index: 0;
  margin-top: -40px;
  border-bottom: solid 5px #2BA6CB;
}

#header {
  margin-top: 60px;
  color: white;
}
